<h1><%=movieData.Title%></h1>
<img src= '<%=movieData.Poster%>'>

<h3>Release Date</h3>
<p><%=movieData.Released%></p>

<h3>Director</h3>
<p><%=movieData.Director%></p>

<h3>Stars</h3>
<p><%=movieData.Actors%></p>

<h3>Plot</h3>
<p><%=movieData.Plot%></p>

<h3>imdb Rating</h3>
<p><%=movieData.imdbRating%></p>

<h3>Rotten Tomatoes Rating</h3>
<p><%=movieData.Ratings[1].Value%></p>
