

<img src="<%=moviesId.Poster %>" width=300px;>
<br>
<h2> <%= moviesId.Title %></h2>
<br>
<h3> <%= moviesId.Year %></h3>
<br>
<h4> <%= moviesId.Awards %></h2>

 <br>
Title: <%= moviesId.Title %>
<br>
Released: <%= moviesId.Released %>
<br>


<!-- soooo the movieId is the variable that goes with the route that leads us here, and then its an object and the key sof rht eobject is the param -->