<h1>TITLE: <%= movieName %></h1>
<p>Movie ID: <%= imdbID %></p>
<img src="<%=movieArray.Poster%>">

<ul>
    <li>Year Released: <%=movieArray.Year%></li>
    <li>Director: <%=movieArray.Director%></li>
    <li>Genre: <%=movieArray.Genre%></li>
    <li>Plot Synopsis: <%=movieArray.Plot%></li>
    <li>Cast: <%=movieArray.Actors%></li>
    <li>Number of Awards: <%=movieArray.Awards%></li>
</ul>


